html,
body {
  min-height: 100%
}

body {
  background: linear-gradient(150deg, #FF6D00, #6200EA);
  margin: 0;
  display: flex;
  justify-content: center;
}

.stylish-input-group .form-control {
  height: 36px;
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #CCCCCC;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.stylish-input-group button {
  color: #222222;
  border: 0;
  background: transparent;
}

.footer {
  background: #424242;
  color: #FFFFFF;
  position: fixed;
  padding: 0 4 4 0;
  bottom: 0px;
  right: 0px;
}

#content {
  padding-top: 15%;
  padding-bottom: 20%;
}

#name_header {
  color: "#222222";
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 900;
  font-family: "Exo", sans-serif;
}

#description {
  color: "#000000";
  width: 500px;
  margin-bottom: 16px;
  font-family: "Lora", serif;
}