<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title> hue </title>
  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static "hue/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Base CSS and Fonts -->
  <link href="{% static "hue/css/base.css" %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards|Muli|Exo+2:900' rel='stylesheet' type='text/css'>

  {% block morestyles %} {% endblock %}
</head>
  
<body>
  
  <div class="container container-full">
    <div class="row" id="nav_bar">
      <div class="col-md-6 nav_bar_elem" id="nav_bar_name">
        <a href="{% url 'home' %}" class="plainlink">hue</a>
      </div>
      <div class="col-md-6 nav_bar_elem" id="nav_bar_about">
        <a href="{% url 'about' %}" class="plainlink">about</a>
      </div>
    </div>
    
    {% block content %} {% endblock %}
  </div>
  
</body>
  
{% block morescripts %}{% endblock %}