<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">


  <title> hue </title>
  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static "hue/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "glyphicons/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Additional files -->
  <link href="{% static "hue/css/base.css" %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Exo:900|Ubuntu:500|Lora' rel='stylesheet' type='text/css'>

</head>
  
<body>

  <div class="grid" id="content" align="center">

    <div class="row" align="center">
      <div class="col-md-6 col-md-offset-3" id="name_header" align="center">
        {% block nameheader %} {% endblock %}
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-md-6 col-md-offset-3" id="description">
        {% block content %} {% endblock %}
      </div>
      <div class="col-md-3"></div>
    </div>


    {% block searchbar %}{% endblock %}
    
    <div class="footer">
      created by Sharangdhar Chakraborty, Narain Krishnamurthy, Sohil Shah, &amp; William Yu for HackPrinceton, Fall 2015
    </div>
    
  </div>

</body>

<script src="{% static "hue/js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "hue/js/bootstrap.min.js" %}"></script>

</html>



