<div class="container" id="stats_container">
  <div class="row" id="stat_header">
    Statistics
  </div>
  <div class="row" id="sentiment_container">
    {% include "donut.html" %}
  </div>
  <div class="row">
    <div class="col-md-6 fill-col">
      <div class='ct-chart' id="positive-chart">
      </div>
    </div>
    <div class="col-md-6" id="textbox1">
      <div class="row">
        <p class="pos-neg" id="positive1"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="positive2"></p>        
      </div>
      <div class="row">
        <p class="pos-neg" id="positive3"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="positive4"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="positive5"></p>
      </div>
    </div>
  </div>
  <hr/>
  <script>
//    var bar_options = document.querySelector(".ct-series-a.ct-bar");
//    bar_options.style.stroke = "#FF3D00";
  </script>
  <div class="row">
    <div class="col-md-6 fill-col">
      <div class='ct-chart' id="negative-chart">
      </div>
    </div>
    <div class="col-md-6" id="textbox2">
      <div class="row">
        <p class="pos-neg" id="negative1"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="negative2"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="negative3"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="negative4"></p>
      </div>
      <div class="row">
        <p class="pos-neg" id="negative5"></p>
      </div>
    </div>
  </div>
</div>