<p class="description">
  The term that you searched was Example Text. Here are some stats:
</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row stats">
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, ut mattis sem. Nunc bibr. Duis eget cursus ligula, dictum porttitor ex.
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisi semper accumsan. Duis condimentum placerat lacus. Maurt lacinia efficitur. Pellentesque eget laoreet orci.
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisi semper accumsan. Duis condimentum placerat lacus. Maurroin sed massa quis purus iaculis tempus non eu orci.
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, ut mattis sem. Nunc bibr. Duis eget cursus ligula, dictum porttitor ex.
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisi semper accumsan. Duis condimentum placerat lacus. Maurermentum dui vel lobortis. Morbi suscipit lacus eget mauris vestibul
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisised massa quis purus iaculis tempus non eu orci. Aenean placerat lacinia efficitur. Pellentesque eget laoreet orci.
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, ut mattis sem. Nunc bibendum ipsum nec metus feugiat auctor. Nam ex.
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisi semper accumsan. Duis condimentum placerat lacus. Mauris non quam non neque lobortis efficitur. Nullam ullamcorper fermentum dui vel lobortis. Morbi suscipit lacus eget mauris vestibulum, ut pharetra neque luctus. Proin hendrerit
      </div>
      
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, ut mat
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, ut mattis sem. Nunc bibendum ipsum nec metus feugiat auctor. Nam lob
      </div>
      
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra justo vitae volutpat cursus. Fusce id lacinia quam, utm. Duis id sodales dolor. Duis eget cursus ligula, dictum porttitor ex.
      </div>
      
      <div class="col-sm-4">
        Vestibulum tempor ac nisi semper accumsan. Duis condimentum\it fringilla rhoncus. Aliquam erat volutpat. Sed id nisl quis l non eu orci. Aenean placerat lacinia efficitur. Pellentesque eget laoreet orci.
      </div>
    </div>
  </div>
</div>
