
<div class="container" id="stats_container">
  <div class="row">
    <div class="col-md-7">
      <div class='ct-chart' id="positive-chart">
      </div>
    </div>
    <div class="col-md-5" id="textbox1">
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class='ct-chart' id="negative-chart">
      </div>
    </div>
    <div class="col-md-5" id="textbox2">
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
      <div class="row">
        "My mother told me I'm a great man"
      </div>
    </div>
  </div>
</div>
