<br/>
<br/>
<div class="container container-full">
    <div class="row">
        <div class="col-md-6">
            <div id="positive-chart" class='positive-chart'>
            </div>
        </div>
        <div class="col-md-6">
            <p> Here is some text element </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="negative-chart" class='ct-chart negative-chart'>
            </div>
        </div>
        <div class="col-md-6">
            <p> Here is some text element </p>
        </div>
    </div>
</div>