{% extends "base.html" %}
{% load staticfiles %}

  {% block nameheader %}
  hue
  {% endblock %}

  {% block content %}
  A quick way to check crowd sentiment on products, people, and event, and a fast and (mostly) accurate way to crowdsource opinions across various social media platforms, such as Twitter, Facebook, and Reddit.
  {% endblock %}

  {% block searchbar %}
    <div class="row">
      <div class="container">
        <div class="row" align="center">
          <div class="col-sm-6 col-sm-offset-3">
            <div>
            	<form method="post" action="{% url 'home' %}">
	              <div class="input-group stylish-input-group" id="search_bar">
	              	
		                <input type="text" class="form-control" placeholder="Enter a search term" type='submit' name='search_q' id="search_input">
		                <span class="input-group-addon">
		                  <button type="submit"></button>
		             	 {% csrf_token %}
		                  <span class="glyphicon glyphicon-search"></span>
		                </span>
	                
              	 </div>
	            {% csrf_token %}
	            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

